@import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Stylish', sans-serif;
}

body{
  background-color: #181910;
}

::selection{
  color: #fff;
  background-color: #860686;
}

.start-btn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 20px solid rgba(223, 191, 223, 0.044);
  border-radius: 20px;
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
  padding: 30px;
  box-shadow: 0px 3px 8px rgba(86, 91, 86, 0.958) ;
  z-index: 1;
}

.start-btn button::first-letter{
  font-size: 45px;
  color: red;
  background-color: #000;
  padding: 2px 10px 2px 15px;
  border-radius: 50%;
}

.start-btn button{
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 25px 80px;
  border-radius: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: rgba(120, 220, 229, 0.958) 0px 1px 3px, rgba(234, 208, 208, 0.884) 0px 4px 2px, rgba(136, 166, 163, 0.763) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  background: linear-gradient(45deg, #4927e0, #f6f6f6, #f5f6f5, #f653a4);
  /* transform: scale(0.7); */
  transition: 0.4s ease;
}

.start-btn,
.info-box.activeInfo,
.quiz-box.activeQuiz,
.result-box.activeResult{
  opacity: 1;
  z-index: 4;
  pointer-events: auto;
  transition: all 0.8s ease;
  transform: translate(-50%, -50% );
}

/* .start-btn button:hover{
  transform: rotate(-4deg) scale(0.9);
  font-size: 35px;
  background: linear-gradient(45deg, #eaff32, #04042f, #09f409, #b04179);
  color: #fff;
  letter-spacing: 1px;
  border: 1px solid #000;
  cursor: pointer;
} */

.start-btn button:active{
  transform: rotate(-4deg) scale(0.9);
  font-size: 35px;
  background: linear-gradient(45deg, #eaff32, #04042f, #09f409, #b04179);
  color: #fff;
  letter-spacing: 1px;
  border: 1px solid #000;
  cursor: pointer;
}

.start-btn button:hover::first-letter{
  background-color: rgb(210, 25, 25);
  color: #fff;
}


/* INFO BOX STYLINNG */
.info-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 5px 6px 10px 1px rgba(0, 0, 0, 0.449);
  color: #fff;
  width: 700px;
  padding: 6px;
  opacity: 0;
  pointer-events: none;
  z-index: 1;
  transition: all 0.2s ease;
}

.info-box .info-title{
  font-size: 45px;
  text-transform: capitalize;
  width: 100%;
  border-bottom: 2px solid #fff;
  text-align: center;
}

.info-box .info-list{
  font-size: 20px;
  margin-bottom: 10px;

}

.info-box .info-list span.time-span{
  color: aqua;
}

/* .info-box .info-list:nth-child(even){
  color: yellow;
} */

.info-box .info-list .info{
  word-spacing: 4px;
  margin-bottom: 2px;
}

.info-box .info-list .info:nth-child(even){
  color: yellow;
}
.info-box .info-list .info:nth-child(odd){
  color: rgb(255, 71, 71);
}

.info-box .info-list .info::first-letter{
  color: aqua;
  font-size: 25px;
  margin-bottom: 4px;
}

.info-box .buttons{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
  /* border: 2px solid white; */
  height: 60px;
  margin-bottom: 5px;
}

/* .info-box .buttons  */
.quit,
.restart{
  padding: 10px 40px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  background-color: transparent;
  color: #fff;
  /* outline: none;
  border: none; */
  box-shadow: 5px 6px 10px 1px rgba(0, 0, 0, 0.725);
  transition: all 0.5s ease;
}

/* .info-box .buttons  */
.restart{
  background-color: #000;
}

/* .info-box .buttons  */
.quit::first-letter, 
.restart::first-letter{
  background-color: red;
  color: #fff;
  padding: 4px 5px 4px 10px;
  border-radius: 50%;
}

/* .info-box .buttons  */
.quit:hover::first-letter,
.restart:hover::first-letter{
  color: red;
  background: #fff;
  font-size: 22px;
}

/* .info-box .buttons  */
.quit:hover,
.restart:hover{
  color: red;
  cursor: pointer;
}


/* QUIZ BOX */
.quiz-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  /* border: 2px solid yellow; */
  max-width: 800px;
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  transition: all 0.3s ease;
  overflow: none;
  opacity: 0;
  z-index: 1;
  pointer-events: none;
}

.quiz-box header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 15px 30px; */
  background-color: #000;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  user-select: none;
}

.quiz-box header .title{
  font-size: 28px;
  letter-spacing: -1px;
  margin-left: 20px;
}

.quiz-box header .timer{
  width: 240px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #ffffff31;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-top-right-radius: 10px;
}

.quiz-box header .timer .time-left-text{
  user-select: none;
  font-size: 28px;
  color: #fff;
  background-color: #00eeffa7;
  font-weight: bold;
  width: 100%;
  padding: 20px 0;
  padding-right: 40px;
  padding-left: 30px;
  text-align: center;
  border-radius: 5px;
  margin-right: 14px;
  position: relative;
}

.quiz-box header .timer .time-left-text::first-letter{
  font-size: 34px;
  color: #000;
}

.quiz-box header .timer .timer-sec{
  position: absolute;
  right: 10px;
  background-color: #fff;
  color: #000;
  padding: 12px 20px 12px 15px;
  font-size: 24px;
  font-weight: bold;
  border-radius: 8px;
  border: 5px solid rgba(13, 178, 178, 0.651);
  width: 60px;
  text-align: center;
}

.time-line{
  position: absolute;
  top: 103px;
  width: 100%;
  height: 4px;
  background-color: #1eff00a7;
}

.clock-svg{
  position: absolute;
  left: -20px;
  top: -5px;
  height: 70%;
  fill: #00eeffa7;
  opacity: 0.2;
  width: 431px;
  height: 503px;
}

.quiz-box section{
  position: sticky;
  background-color: #00eeffa7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 12px;
  gap: 30px;
  width: 100%;
  border-radius: 5px;
}

.quiz-box section .que-text{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 40px;
}

.quiz-box section .que-text span{
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
}

.quiz-box section .option-list{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 20px;
  gap: 15px;
}

.quiz-box section .option-list .option{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.174);
  box-shadow: 4px 2px 2px 0px rgba(255, 255, 255, 0.464);
  width: 100%;
  height: 80px;
  padding: 20px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.quiz-box section .option-list .option.correct{
  border: 5px solid green;
  background-color: rgba(42, 185, 42, 0.621);
  color: #fff;
}

.quiz-box section .option-list .option.incorrect{
  border: 5px solid rgb(172, 4, 4);
  background-color: rgba(121, 5, 5, 0.766);
  color: #fff;
}


section .option-list .option:hover{
  background-color: #000;
  color: #00eeffa7;
  cursor: pointer;
}

section .option-list .option.disabled{
  pointer-events: none;
}

/* FOOTER */
footer{
  width: 100%;
  height: auto;
  padding: 10px 0;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

footer .total-que{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  /* background-color: #00eeffa7; */
  /* color: #000; */
  background-color: #a60505;
  background-color: #000;
  border: 1px solid #1ef50a7f;
  user-select: none;
  border-radius: 5px;
}

footer .total-ques .ques-number{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

footer .total-que .ques-number .cur-ques{
  font-size: 40px;
  font-weight: bold;
  color: yellow;
}

footer .total-que .ques-number .all-ques{
  font-size: 25px;
  font-weight: bold;
}

footer .total-que .ques-number .ques-text{
  margin-left: 5px;
  font-weight: bold;
}

footer .next-btn{
  height: 70px;
  padding: 10px 40px;
  border-radius: 5px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  background-color: #1ef50a7f;
  outline: none;
  border: none;
  transition: 0.3s ease;
  opacity: 0;
  pointer-events: none;
}

footer button.show{
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

/* footer .next-btn:hover{
  background-color: #a19b9b6d;
  color: #000;
  cursor: pointer;
  transform: scale(0.95);
} */

footer .next-btn:active{
  background-color: #a19b9b6d;
  color: #000;
  cursor: pointer;
  transform: scale(0.95);
}

.hide{
  display: none;
}


/* RESULT BOX */
.result-box{
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2e2e2b88;
  padding: 30px 100px;
  transform: translate(-50%, -50%) scale(0.9);
  border-radius: 5px;
  box-shadow: 4px 6px 10px 0 rgba(0, 0, 0, 0.575);
  transition: all 0.3 ease;
  pointer-events: none;
  opacity: 0;
}

.result-box .icon .crown-icon{
  width: 100%;
  margin-bottom: 20px;
  fill: #ff2f2f;
  /* stroke: #06ffe2; */
  stroke-width: 15px;
}

.result-box .button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  /* border: 2px solid yellow; */
  height: 90px;
}

.result-box .complete-text{
  color: #fff;
  font-size: 20px;
  word-spacing: 4px;
}

.result-box .score-text{
  font-size: 35px;
  color: #fff;
  color: #00eeffa7;
  font-weight: bold;
  margin-bottom: 30px;
}